body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/* Navigation Code */
#navbar {
    height: 3.6875em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarMainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
}

#navbarMainContent ul{
    display: flex;
    list-style-type: none;
}

#navbarMainContent ul li{
    margin-left: 1em;

    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
    ;
}

#logo {
    display: flex;
    align-items: center;
}

#logo p {
    margin-left: 0.2em;
    font-size: 0.846rem;
    font-weight: 700;
    color: #0E0E0E;
}

#logoPic {
    width: 1.4475em;
    height: 1.4475em;
}


/* Header Code */
#header {
    width: 100%; 
    position: relative; 
}

#header img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: relative;
}

#headerText {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Fix code so H1 does not leave its spot on the screen */

/* Media Queries*/

@media (min-width: 768px) {
    #navbar {
        height: 5em;
    }

    #navbarMainContent ul li{
        font-size: 1.15rem;
    }

    #logo p {
        font-size: 1.25em;
    }
    
    #logoPic {
        width: 1.9em;
        height: 1.9em;
    }
}
