body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/* Navigation Code */
#navbar {
    height: 3.6875em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarMainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
}

#navbarMainContent ul{
    display: flex;
    list-style-type: none;
}

#navbarMainContent ul li a{
    margin-left: 1em;
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
    text-decoration: none;
}

#logo {
    display: flex;
    align-items: center;
}

#logo p {
    margin-left: 0.2em;
    font-size: 0.846rem;
    font-weight: 700;
    color: #0E0E0E;
}

#logoPic {
    width: 1.4475em;
    height: 1.4475em;
}


/* Header Code */
#header {
    width: 100%;
    height: 100%; 
    position: relative; 
    overflow: hidden;
}

#header img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: relative;
}

#headerText {
    position: absolute;
    width: 90%;
    top: 35%;
    left: 5%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

.headerP, #headerText h1 {
    margin: 0.31em 0;
}

.dateStarted {
    font-size: 0.75em;
}



/* Blog Post Content */

#listOfBlogPosts {
    margin: 2em 1em;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "rest"
        "insta"
        "champ"
        "unit"
        "pass"
        "work";
}

.resturant, .instagram, .champion, #unit, #pass, #work{
    width: 100%;
    color: inherit;
    text-decoration: none;
    background-color: #ededed;
    border-radius: 2px;
}

.resturant {
    grid-area: "rest";
}

.instagram {
    grid-area: "insta";
}

.champion {
    grid-area: "champ";
}

#unit {
    display: none;
    grid-area: "test";
}

#pass {
    display: none;
    grid-area: "pass"; 
}

#work {
    display: none;
    grid-area: "work"; 
}

.resturant article img,
.instagram article img,
.champion article img,
#unit article img,
#pass article img,
#work article img {
    width: 100%;
    border-radius: 3px;
}

/* code above this is what needs to be changed */

.pTagOne, .pTagTwo, .articleH2Tag{
    margin: 0.4em 0;
}

.pTagOne, .pTagTwo {
    font-weight: 400;
}

.pTagOne {
   font-size: 0.875em; 
}

.articleH2Tag {
    font-size: 1.5em;
    color: #141414;
    font-weight: 700;
}

.pTagTwo {
    font-size: 1em; 
    color: #505050;
 }



/* View More button */

#btnDiv {
    display: block;
    text-align: center;
    margin: 0 0 2.5em 0;
}

#viewMoreBtn {
    border: none;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline;
}

/* Footer */

footer {
    height: 105px;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    text-align: center;
}

.footerP1 {
    color: #ececec;
    font-size: 0.75em;
    font-weight: 700;
}

.footerP2 {
    color: #d7d7d7;
    font-size: 0.75em;
    font-weight: 400;
}

.footerP1, .footerP2 {
    margin: 0 0 0.2em 0;
    padding: 0;
}



/* Media Queries*/

@media (min-width: 576px) { 
    #headerText {
        top: 45%;
        left: 5%; 
    }

    .dateStarted {
        font-size: 1.2em;
    }

    #headerText h1 {
        font-size: 2.5em;
    }

    .headerP{
        font-size: 1.5em;
    }
 }

@media (min-width: 768px) {
    #navbar {
        height: 5em;
    }

    #navbarMainContent ul li{
        font-size: 1.15rem;
    }

    #logo p {
        font-size: 1.25em;
    }
    
    #logoPic {
        width: 1.9em;
        height: 1.9em;
    }
    
    #headerText {
        top: 55%;
        left: 5%; 
    }

    .dateStarted {
        font-size: 1.5em;
    }

    #headerText h1 {
        font-size: 4em;
    }

    .headerP{
        font-size: 2em;
    }
}
